body{
  background-color: orange;
}
.jumbotron{
  text-align: center;
  margin-top: 20px;
  background-color: #FC6D26;
}
#playerNames{
  margin:auto 0;
}
img{
  height:150px;
  width:150px;
  text-align: center;
  margin:10px;
  border-radius: 30px;
}
#playerWins{
  height:200;
  width:100;
  background-color: yellow;
  border-radius: 20px;
  margin-top:40px;
}
#chatArea{
  height:270px;
  width:485px;
  background-color: #eee;
  margin:auto;
  margin:5px;
  border-radius: 10px;
}
#chatbox{
  border:2px solid #777;
  height:360px;
  width:500px;
  margin:auto;
  border-radius: 10px;
}
.chat{
  background-color: #ccc;
  padding:15px;
  margin-left: 12px;
  margin-right: 10px;
  border-radius: 10px;
}
#playerBox{
  margin-bottom: 10px;
}











